.root {
    -fx-font-family: "Segoe UI", "Inter", Arial;
}

.bg {
    -fx-background-color: linear-gradient(to bottom, #ffffff 0%, #ece8ff 55%, #bdb1ff 100%);
}

.topbar {
    -fx-padding: 8 0 0 0;
}

.brandTitle {
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: #7a5cff;
}

.brandSub {
    -fx-font-size: 14px;
    -fx-text-fill: #7a5cff;
    -fx-opacity: 0.95;
}

.navLink {
    -fx-text-fill: #7a5cff;
    -fx-font-size: 15px;
    -fx-underline: false;
    -fx-font-weight: 600;
}
.navLink:hover {
    -fx-underline: true;
}

.loginBtn {
    -fx-background-radius: 999px;
    -fx-padding: 7 18 7 18;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #6a5cff, #c79bff);
    -fx-cursor: hand;
}

.centerBox {
    -fx-padding: 10 18 10 18;
}

.headline {
    -fx-font-size: 38px;
    -fx-font-weight: 800;
    -fx-text-fill: #7a5cff;
}

.roleBtn {
    -fx-background-radius: 999px;
    -fx-padding: 10 26 10 26;
    -fx-font-size: 14px;
    -fx-font-weight: 800;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #7b6bff, #d4a7ff);
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 14, 0.18, 0, 6);
}

.roleBtnMain {
    -fx-background-color: linear-gradient(to right, #5f51ff, #a98bff);
}

.roleBtn:hover {
    -fx-opacity: 0.92;
}

.adminTag {
    -fx-text-fill: #7a5cff;
    -fx-font-weight: 700;
    -fx-opacity: 0.75;
}